/* Global styles */
html * {
    font-family: "Open Sans" !important;
    /* max-width: 1600px; */
    max-height: 100%;
}

/* Header */
header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    background: #FFF8F3;
    background-image: url("rss/Developer.png"),
        url("rss/Hardy.png"),
        url("rss/GroupElips.png");
    background-position: left center, right bottom, right bottom;
    background-repeat: no-repeat;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav-title span {
    color: #FD6E0A;
}

/* Navigation */
.navbar nav,
.navbar nav ul {
    display: flex;
    align-items: center;
    padding: 51px;
}

nav ul li {
    list-style: none;
    margin-left: 51px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav a:hover {
    color: blue;
    background-color: gray;
    border-radius: 10px;
}

/* Developer section */
.dev {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.dev img {
    max-width: 230px;
    height: auto;
}

/* Middle content */
.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 230px;
    margin: 0;
}

.middle h1 {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    line-height: normal;
}

.middle h3 {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

.middle .comment {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
}

.middle .buttons {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.middle button,
.bti,
.bth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.bti {
    width: 200px;
    background: #FD6E0A;
    color: white;
    border: none;
    text-align: center;
}

.bti:hover {
    color: black;
    border-radius: 10px;
}

.bth {
    border: 4px solid #FD6E0A;
    color: #FD6E0A;
    background: none;
}

/* Button hover effect */
button:hover {
    color: black;
    border-radius: 10px;
}

/* Hire Me button */
.bt {
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    margin-left: 51px;
}

.hed {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

/* Section containers */
.SecondPage,
.ThirdPage,
.FourthPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.SecondPage {
    background: #FFF8F3;
}

.cDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.Tp {
    width: 909px;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.Card {
    width: 267px;
    height: 377px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Card img {
    width: 44px;
    height: 44px;
}

.Card h2 {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.Card p {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 201px;
}

/* Fourth Page */
.FourthPage {
    background: var(--White-Color, #FFF);
    text-align: left;
}

.FourthPage table {
    width: 1093px;
    padding: 60px;
}

.FourthPage table h1 {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.FourthPage table h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}

.FourthPage table h3 {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
}

.FourthPage table p {
    width: 511px;
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 20px;
}

/* Footer */
footer {
    background: #FFF8F3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 40px;
    text-align: left;
}

.pad,
.inp {
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.custom-input {
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: none;
    padding: 10px;
    margin-bottom: 24px;
    color: var(--Dark-03, #757575);
    font-size: 16px;
}

/* Flexbox navigation */
.fl {
    display: flex;
    gap: 15px;
}