body {
    margin: 0px;
    font-family: Lato;
}

header {
    /* max-width: 1920px;
    max-height: 850px; */
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}

header h1 {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}

header h2 {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 634px;
}

button {
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}