* {
    font-family: "Work Sans", sans-serif;

}

header {
    padding: 50px 240px 0px;
    background: rgba(255, 144, 14, 0.10);
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

nav ul {
    gap: 50px;
    align-items: center;
    display: flex;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Banner style starts */
.banner {
    padding-bottom: 45px;
}

.banner-title {
    margin-top: 116px;
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-desc {
    margin-top: 30px;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* 162.5% */
}

.make-center {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 20px 25px;
    border: 0px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.banner img {
    max-width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.SndPage,
.trdPage {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.secondPage

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 708px;
    margin: auto;
    gap: 24px;
}

.box>img {
    width: 100%;
    padding: 10px;
    max-width: 354px;
    justify-content: space-around;
    border-radius: 8px;
    flex-shrink: 0;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 76px;
}

.box2 p {
    max-width: 537px;
    text-align: left;
}

.R1 {
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.R2 {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.R3 {
    color: #FF900E;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trdPage>.box1 {
    gap: 50px;
}

.title3 {
    margin-top: 169px;
    display: grid;
    grid-template-columns: 5px auto;
    justify-content: space-around;
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col {
    margin: 0;
    background: #FF900E;
    width: 5px;
}

.trdPage>.box1>p {
    color: var(--Dark-03, #727272);
    max-width: 586px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.P3 {
    max-width: 586px;
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30;
}


.tiles {
    width: 586px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.tiles>h1 {
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tiles>p {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.tenYear {
    max-width: 342px;
    max-height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
}

.st {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.st2 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.SomeFacts {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer>p {
    color: var(--Dark-03, #727272);
    max-width: 542px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 100px;
    /* 162.5% */
}



.mono {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241px;
    max-height: 241px;
    flex-shrink: 0;
    padding: 45px 0px;
    align-items: center;

}

.MONO {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sponsor {
    margin-top: 180px;
    flex-direction: column;
    align-items: center;
}

.sT {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.sP {
    max-width: 542px;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.onli {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    max-width: 1920px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

footer>svg {
    mix-blend-mode: luminosity;
}

.foot {
    padding: 39px 410px;
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 1440px;
    max-height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 130px;
}

@media screen and (max-width: 576px) {

    nav,
    .MONO,
    .onli {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    header {
        padding: 20px 20px;
    }

    .banner-title {
        margin-top: 50px;
    }

    .SndPage,
    .trdPage {
        grid-template-columns: auto;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {

    nav,
    .MONO,
    .onli {
        flex-direction: column;
    }

    header {
        padding: 20px 20px;
    }

    .banner-title {
        margin-top: 50px;
    }
}