body {
    font-family: "Work Sans";
}

header {
    max-width: 100vw;
    border: 1px solid violet;
    /* text-align: center; */
    align-items: center;
}

header h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nb {
    display: flex;
    justify-content: space-around;
}

.txt1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}