* {
    font-family: "Lato", sans-serif;

}

header {
    background: var(--bgfeedbc, #FEEDBC);
    max-width: 1920px;
    max-height: 4984px;
    height: 1053px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    height: 60px;
}

.paint {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 5000px;
    background: var(--white-ffffff, #FFF);
}

.hadFirst>h1 {
    color: var(--yellow-f-9-b-800, #F9B800);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.hadFirst>h2 {
    color: var(--dark-262626, #262626);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 60px;
}

.fl {
    display: flex;
}

.fl-wrap {
    flex-wrap: wrap;
}

.had {
    justify-content: center;
    margin-left: 255px;
}

.hadFirst {
    margin-top: 150px;
}

#upper {
    text-transform: uppercase;
}

.box {
    border-radius: 5000px;
    background: var(--white-ffffff, #FFF);
    display: flex;
    padding: 14px 40px 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.hadSecond {
    margin-right: 160px;
}

.loremIpsum {
    margin-top: 60px;
    border-radius: 5000px;
    background: var(--yellow-f-9-b-800, #F9B800);
    display: flex;
    width: 350px;
    padding: 22px 50px 24px 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main {
    background-color: var(--dark-262626, #262626);
}

.bg-white {
    border-radius: 5000px;
    background: var(--white-ffffff, #FFF);
}

.box2p1>p {
    color: var(--yellow-f-9-b-800, #F9B800);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    width: 552.063px;
}

.box2p1>h2 {
    color: var(--white-ffffff, #FFF);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ml-258{
    margin-left: 258px;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .paint {
        margin-left: 0px;
        width: 350px;
        height: 72px;
        flex-shrink: 0;
    }

    .had {
        flex-direction: column-reverse;
    }

    .hadSecond>img {
        width: 350px;
        height: 350px;
        flex-shrink: 0;
    }
    .ml-258{
        margin-left: 0;
    }
}